 <!-- Site footer -->
    <footer class="main-niaid-footer">
        <div class="container ">
        <!-- Three columns  -->
      <div class="row">
        <div class="col-lg-4">
          <h6 class="footer-links-heading">connect</h6>
          
          <!-- Column One Media lINKS -->
          <ul class="list-inline footer-links">
            <li><a class="footer-links" href="https://www.facebook.com/JumpersParadise" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></li>
            <li><a class="footer-links" href="https://twitter.com/JumpersParadise" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
            <li><a class="footer-links" href="https://www.instagram.com/jumpers_paradise/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <!--<li><a class="footer-links" href="#"><i class="fa fa-commenting fa-lg"></i></a></li>-->
            <li><a class="footer-links" href="https://www.youtube.com/user/JumpersParadise" target="_blank"><i class="fa fa-youtube-play fa-lg"></i></a></li>
            <li><a class="footer-links" href="https://www.pinterest.com/jumpersparadise/" target="_blank"><i class="fa fa-pinterest-p fa-lg"></i></a></li>
          </ul><!-- Column One Media lINKS -->
          
        </div><!-- /.col-lg-4 -->
 
        <hr class="footer-columns-separator visible-xs visible-sm visible-md">
        
        <div class="col-lg-4">
          <h6 class="footer-links-heading">links</h6>
          
          <ul class="list-unstyled footer-links">
          <li><a class="footer-links" href="/packages">Packages</a></li>
          <li><a class="footer-links" href="/products">Products</a></li>
          <li><a class="footer-links" href="/gallery">Gallery</a></li>
          <li><a class="footer-links" href="/about">About Us</a></li>
            
          </ul>
        </div><!-- /.col-lg-4 -->
        
        <hr class="footer-columns-separator visible-xs visible-sm visible-md">
        
        
        <div class="col-lg-4">
          <h6 class="footer-links-heading">call now</h6>
          
          <ul class="list-unstyled footer-links">
            <p>786 768 4499</p>
            <p>786 759 3064</p>
            
          </ul>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      
      <hr>
      
      
      <div class="row">
        
        
        <hr class="footer-columns-separator visible-xs visible-sm visible-md">
        
        <div class="col-lg-6">
          <address class="footer-address">
        Jumpers Paradise LLC 2011-2012 © Copyright-All Rights Reserved
      </address>
        </div><!-- /.col-lg-4 -->
        
        <hr class="footer-columns-separator visible-xs visible-sm visible-md">
        
        
       </div>
       </div>
      </footer>
